{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1> WELCOME</h1>
<p>Username: {{ app.user.email }}</p>


<a href="{{path('app_logout')}}">logout</a>

{% endblock %}
