{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<section class="fdb-block"></section>


	<section id="features" class="fdb-block mb-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-6 col-lg-5">
					<h1>Your words:</h1>
					<h3 id="result">Start saying something!</h3>
				</div>
				<div class="col-12 col-md-6 ml-md-auto">
					<button class="btn btn-lg btn-outline-dark">Download DOC</button>
                    {# <img src="{{ absolute_url(asset('assets/images/old-man.jpg')) }}" alt="Old Man Image"/> #}
				</div>
			</div>
		</div>
	</section>

	<section class="fdb-block"></section>

{% endblock %}
